<div class="row">
  <div class="col-lg-12">
    <div class="area-no-click"><h4>Users</h4></div>
    <%= for user <- @users do %>
      <div class="area-no-click"><a href="<%= user_path(@conn, :show, user.id) %>"><%= user.name %></a></div>
    <% end %>
  </div>
</div>
