<div class="row">
  <div class="col-lg-12">
    <div class="area"><h4><%= gettext "Join Phoenix-Twitter today!" %></h4></div>
    <div class="area"><%= render "form.html", changeset: @changeset, action: signup_path(@conn, :create) %></div>
  </div>
</div>
