<%= form_for @changeset, @action, fn f -> %>
  <div class="form-group">
    <%= text_input f, :text, class: "form-control" %>
    <%= error_tag f, :text %>
  </div>

  <div class="form-group">
    <%= submit gettext("Tweet"), class: "btn btn-primary" %>
  </div>
<% end %>
