<div class="row">
  <h2><%= @user.name %></h2>

  <%= if current_user(@conn) && current_user(@conn).id == @user.id do %>
    <%= render "form.html", changeset: @changeset,
                            action: user_tweet_path(@conn, :create, @user.id) %>
  <% end %>

  <%= for tweet <- @user.tweets do %>
    <%= render App.SharedView, "tweet.html", tweet: tweet %>
  <% end %>
</div>
