<div class="row">
  <div class="col-lg-4">
    <%= render App.SharedView, "user_info.html", conn: @conn, user: @user, active: "followers" %>
  </div>

  <div class="col-lg-8">
    <div class="area"><h4>Followers</h4></div>
    <%= for f <- @followers do %>
      <%= render App.SharedView, "user_item.html", conn: @conn, user: f.follower %>
    <% end %>
  </div>
</div>
