<div class="row">
  <div class="col-lg-12">
    <div class="area-no-click"><h4>Login to your account</h4></div>
    <div class="area-no-click"><%= render "form.html", conn: @conn, action: login_path(@conn, :create), option: [as: :login] %></div>
  </div>
</div>
