<div class="row">
  <div class="col-lg-12">
    <div class="area">
      <h4>404 Not Found</h4>
    </div>
    <div class="area">
      Whatever you were looking for, it's not here (anymore).
    </div>
  </div>
</div>
