<div class="row">
  <div class="col-lg-6">
    <div class="area-no-click"><h4>Latest Users</h4></div>
    <%= for user <- @users do %>
      <%= render App.SharedView, "user_item.html", conn: @conn, user: user %>
    <% end %>
  </div>

  <div class="col-lg-6">
    <div class="area-no-click"><h4>Latest Tweets</h4></div>
    <%= for tweet <- @tweets do %>
      <%= render App.SharedView, "tweet.html", conn: @conn, tweet: tweet %>
    <% end %>
  </div>
</div>
