<div class="row">
  <div class="col-lg-6">
    <h4>Latest Tweets</h4>
    <%= for tweet <- @tweets do %>
      <p><%= tweet.text %></p>
    <% end %>
  </div>

  <div class="col-lg-6">
    <h4>Latest Users</h4>
    <%= for user <- @users do %>
      <p><a href="<%= profile_path(@conn, :index) %>"><%= user.name %></a></p>
    <% end %>
  </div>
</div>
