<div class="row">
  <div class="col-lg-6">
    <div class="area-no-click"><h4>Latest Users</h4></div>
    <%= for user <- @users do %>
      <div class="area-no-click"><a href="<%= user_path(@conn, :show, user.id) %>"><%= user.name %></a></div>
    <% end %>
  </div>

  <div class="col-lg-6">
    <div class="area-no-click"><h4>Latest Tweets</h4></div>
    <%= for tweet <- @tweets do %>
      <%= render App.SharedView, "tweet.html", conn: @conn, tweet: tweet %>
    <% end %>
  </div>
</div>
