<p>
  <%= @tweet.text %>
  <%= if current_user(@conn) do %>
    <%= if @tweet.favorite_id do %>
      <%= link("Unfavorite", to: tweet_favorite_path(@conn, :delete, @tweet.id), method: "delete") %>
    <% else %>
      <%= link("Favorite", to: tweet_favorite_path(@conn, :create, @tweet.id), method: "create") %>
    <% end %>
  <% end %>
</p>
